<div class="login-wrapper">
    <div class="login-white-wrapper">
        <h1 class="login-title">LOGIN</h1>
        <form class="login-form" (ngSubmit)="doLogin()">
            <input id="logintxtUsername" class="input-login" type="text" [(ngModel)]="user" name="user">
            <input id="logintxtPassword" class="input-login" type="text" [(ngModel)]="password" name="pass">
            <button id="loginbnt" class="btn-login" type="submit" id="login">Submit</button>
        </form>
    </div>

</div>