@import "../../styles.scss";

.nav-wrapper-bg {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #201F41;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='421' height='421' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23422D53' stroke-width='1.6'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23912E54'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  .nav-error {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
  }
}

.nav-main-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  color: orange;
  font-family: $title-font;
  font-size: 2.5em;
  margin: 1em 0;
  background-color: rgba(255, 255, 255, 0.75);
}


.nav-wrapper2{
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 1em 0;
  margin-bottom: 4em;

.nav-wrapper {
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  margin: 1em 0.5em 5em;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  width: 50%;
  padding: 5em 0;

  .nav-title {
    color: orange;
    font-family: $title-font;
    font-size: 2.5em;
    background-color: rgba(255, 255, 255, 0.50);
    width: 100%;
    text-align: center;
  }
  .nav-section {
    margin: 1em 0;
    display: flex;
    padding: 1em 0;
    flex-direction: column;
    align-items: center;
    font-family: $text-font;
    text-align: center;
    li {
      font-size: 1.1em;
      line-height: 2;
    }
    .nav-subtitle {
      color: black;
      font-family: $title-font;
      font-size: 2em;
      line-height: 3;
    }
  }
}
}

.status{
  background-color: #201F41;
  width: 80%;
  padding: 1em;
  align-items: center;
  font-family: $text-font;
  text-align: center;
  color: white;
  border-radius: 50px;
  li {
    font-size: 1.1em;
    line-height: 2;
  }
  .nav-subtitle {
    font-size: 2em;
    line-height: 3;
  }

}
.terminate-btn{
  font-family: $title-font;
  background-color: red;
  border: 2px solid black;
  margin: 3em 0;
  transition: 0.5s ease-in all;
  &:hover{
    background-color: black;
    border: 2px solid red;
    color: red;
    transition: 0.5s ease-in all;
  }
}
.nearstars{
  display: flex;
  flex-direction: column;
  .link{
    text-decoration: none;
    color: lightseagreen;
    border-bottom: 1px solid lightseagreen;
    cursor: pointer;
    .linkbool{
      color: #02AC66;
    }
  }
}

.button{
  text-decoration: none;
  color: lightseagreen;
  background-color: white;
  border: 2px lightseagreen solid;
  padding: 0.5em 2em;
  border-radius: 20px;
  margin-left: 5%;
  cursor: pointer;
  font-family: $title-font;
  cursor: pointer;
  transition: 0.5s ease-in all;
  &:hover {
    color: white;
    background-color: lightseagreen;
    border: 2px white solid;
    transition: 0.5s ease-in all;
  }
}
.nobutton{
  text-decoration: none;
  color: #666666;
  background-color: #cccccc;
  border: 1px solid #999999;
  padding: 0.5em 2em;
  border-radius: 20px;
  margin-left: 5%;
  cursor: not-allowed;
}
.col{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-bottom: 20%;
  justify-content: center;
}
