<app-loader *ngIf="!isLoaded"></app-loader>
<section *ngIf="isLoaded" class="account-wrapper-bg">
  <div class="account-wrapper" *ngIf="player.id != -1">
    <h1 class="account-title">Welcome back chief</h1>
    <section class="account-section">
      <h2 class="account-subtitle">This is your account</h2>
      <ul>
        <li id="accountliPlayerId">Player id: {{player.id}}</li>
        <li id="accountliPlayerName">Player name: {{player.player_name}}</li>
        <li id="accountliPlayerRole">Player role: {{player.player_role}}</li>
      </ul>
    </section>
    <section class="account-section">
      <h2 class="account-subtitle">Take a look at your crew</h2>
      <ul>
        <li id="accountliCrewName">crew name: {{player.crewmembers.crew_name}}</li>
      </ul>
      <button id="accountbtnCrewInfo" class="account-btn" (click)="redirect()">Check your crew info</button>
    </section>
  </div>

  <div class="account-wrapper" *ngIf="player.id != -1">
    <h1 class="account-title">Config</h1>
    <div class="row">
      <a>Enter a new valid role to change: </a>
      <input id="accounttxtRole" type="text" [(ngModel)]="roleInput" name="filterRoleInput">
      <button id="accountbtnRole" class="account-btn role-btn" (click)="changerole()">Apply</button>
    </div>
    <div class="row">
      <p>(ROLE_CAPTAIN, ROLE_PILOT, ROLE_MERCHANT)</p>
    </div>
    <div class="row">
      <a>Enter a new crew id to change: </a>
      <input id="accounttxtNewCrew" type="text" [(ngModel)]="crewIDInput" name="filterCrewIDInput">
      <button id="accountbtnNewCrew" class="account-btn crew-id-btn" (click)="changeByIDcrew()">Apply</button>
    </div>
    <div class="row">
      <a>Enter a new crew name to change: </a>
      <input id="accounttxtNewCrewName" type="text" [(ngModel)]="crewNameInput" name="filterCrewNameInput">
      <button id="accountbtnNewCrewName" class="account-btn crew-name-btn" (click)="changeNamecrew()">Apply</button>
    </div>
  </div>
  <div class="account-error" *ngIf="player.id == -1">
    <h1>You dont have a account chief</h1>
  </div>

</section>