<app-loader *ngIf="!isLoaded"></app-loader>
<div *ngIf="isLoaded" class="commerce-bg">
  <section class="commerce-wrapper" *ngIf="isLoaded">
    <h1 class="commerce-title">Welcome to {{star.name}} commerce</h1>
    <h2 class="commerce-subTitle">Here are your credits chief: {{credits}}</h2>
    <button class="productsBtn" (click)="redirect()">Check your crew info</button>
    <h2 class="commerce-subTitle">This is the list of planets where you can trade:</h2>
    <div class="planet-list" *ngFor="let planet of star.planetList">
      <h2 class="planet-name">{{planet.planet_name}}</h2>
      <ul>
        <li class="product-commerce"
          *ngFor="let product of planet.product_list;let index = index;trackBy:trackByIndex;">
          <h3 class="product-title">{{product.product.product_name}}</h3>
          <div class="product-info">
            <p class="product-info-item">id: {{product.id}}</p>
            <p class="product-info-item">Stock: {{product.stock}}</p>
            <p class="product-info-item" *ngIf="product.sp_">Sales price: {{product.sales_price}}</p>
            <p class="product-info-item" *ngIf="product.pp_">Purchase price: {{product.purchase_price}}</p>
            <p class="product-info-item">weight: {{product.product.load_capacity}}</p>
            <label class="product-info-item" for="amount-commerce">How many products?</label>
            <input class="product-info-item input-commerce" id="amount-commerce" type="number"
              [(ngModel)]="amounts[index]"
              [ngClass]="amounts[index] < 1 || amounts[index] > product.stock? 'error' : ''">
            <div class="product-info-item" class="commerce-btn-wrapper">
              <button class="commerce-btn buy-btn" [disabled]="amounts[index] < 1 || amounts[index] > product.stock"
                (click)="buy(index,product)" *ngIf="product.sp_">Buy</button>
              <button class="commerce-btn sell-btn" [disabled]="amounts[index] < 1 || amounts[index] > product.stock"
                *ngIf="product.pp_" (click)="sell(index,product)">Sell</button>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </section>
</div>